*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url("bg-desktop.svg");
  background-color: hsl(257, 40%, 49%);
  background-repeat:no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
}

.logo{
  margin-left: 78.5px;
  margin-top: 43px;
  position: absolute;
}

#h1TOP{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  position: absolute;
  margin-left:126px;
  margin-top: 30px;
}

.BigPic{
  margin-top: 172px;
  margin-left: 72px;
  position: absolute;
}

.DivRight{
  text-align: left;
  position: absolute;
  margin-left: 830px;
  margin-top: 205px;
  width: 510px;
}

.h1Div{
font-size: 2.1rem;
line-height: 2;
margin-bottom: 17px;
}

p{
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.DivBtn{
  border-width: 0px;
  width: 190px;
  height: 60px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  border-radius: 35px;
  font-size: 1.2rem;
  box-shadow: 5px 10px 10px #52407D;
}

.Logos{
  position: absolute;
  width: 170px;
  margin-top: 700px;
  margin-left: 1190px;
}

a{
  margin-left:7px;
  margin-right:7px;
}

a:link {
  color: red;
}

footer{
  width: 576px;
  padding-left: 432px;
  padding-top: 755px;
  text-align: center;
  position: absolute;
  display: inline-block;
  font-size: 11px;
}





@media only screen and (max-width: 375px) {
  body{
    background-image: url("bg-mobile.svg");
    margin:30px 30px 20px 30px;
  }

  .logo{
    padding-top: 10px;
    margin-left: 0px;
    margin-top: 0px;
    width: 26px;
    position: absolute;
  }

  .DivTop{
    position: relative;
    margin: auto;
    width: 100%;
    height: 50px;
  }

  #h1TOP{
    font-size: 1.8rem;
    margin-left:30px;
    margin-top: 0px;
    letter-spacing: 0.7px;
  }

  .BigPic{
    width: 97%;
    margin : auto ;
    position: relative;
    padding-top: 50px;
  }

  .DivRight{
    padding: 50px 0px ;
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
  }

  .h1Div{
    font-size: 1.5rem;
    line-height: 1.5 ;
    letter-spacing: 0.7px;
  }

  p{
    font-weight: 400;
    font-size: 16.5px;
    margin-bottom: 30px;
  }

  .DivBtn{
    height: 35px;
    font-size:0.8rem;
    box-shadow: 0px 7px 10px #52407D;
  }

  .Logos{
    position: relative;
    width: 80%;
    margin:auto;
    padding-bottom: 10px
  }

  footer{
    width: 100%;
    margin: auto;
    position: relative;
    font-size: 8px;
    padding:0px;
  }

  .img2level{
    width: 26px;
    height: 26px;
  }

  #FC{
    margin-left: 64px;
  }

  }
